<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta name="wap-font-scale" content="no">
    <meta http-equiv="pragma" content="no-cache">
    <title>产品信息</title>
    <link type="text/css" rel="stylesheet" href="css/global.css"/>
    <link type="text/css" rel="stylesheet" href="css/style.css"/>
    <script src="js/jquery.min.js"></script>
    <script>
        $(function () {
            $("html").css("fontSize", parseInt($(window).width()) / 7.5 + "px");
            $(window).resize(function () {
                $("html").css("fontSize", parseInt($(window).width()) / 7.5 + "px");
            });
        })
    </script>
</head>
<body>
<div class="tit-top">
    <img src="img/logo.png">
    产品信息
</div>
<div class="product-main">
    <div v-for="product in products" class="ps"  v-bind:title="product.nid" v-if="product.category=='一般产品'">
        <div class="name">{{product.title}}</div>
        <div class="intro-list2">
            <a v-for="(content,index) in product.contents" v-on:click="ifimg" v-bind:id="index" v-bind:title="product.nid" v-bind:href="content.link">{{content.title}}</a>
            <div class="clearfix"></div>
        </div>
    </div>
    <p>附加产品</p>
    <div v-for="product in products" class="ps"  v-bind:title="product.nid" v-if="product.category=='附加产品'">
        <div class="name">{{product.title}}</div>
        <div class="intro-list2">
            <a v-for="(content,index) in product.contents" v-on:click="ifimg" v-bind:id="index" v-bind:title="product.nid" v-bind:href="content.link">{{content.title}}</a>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<script src="js/vue.min.js"></script>
<script>
    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        var context = "";
        if (r != null)
            context = r[2];
        reg = null;
        r = null;
        return context == null || context == "" || context == "undefined" ? "" : context;
    }
    var app = new Vue({
        el: '.product-main',
        data: {
            products: []
        },
        created: function () {
            var roles;
            $.ajax({
                url: "http://aiahigh.s-csh.com/api/aia/user/info/"+getQueryString("openid"),
                dataType: "JSON",
                type:"GET",
                success: function (res) {
                    if(res.status=="success"){
                        roles=res.data.role;
                        $.ajax({
                            url: "http://aiahigh.s-csh.com/api/products?args[]="+roles,
                            dataType: "JSON",
                            success: function (res) {
                                app.products = res;
                            }
                        });
                    }
                    else{
                        window.location.href ="login.html?openid="+getQueryString("openid");
                    }

                }
            });
        },
        methods: {
            goinfo: function (event) {
                window.location.href = "product_information.html?nid=" + event.target.title;
            },
            ifimg:function(event){
                if(event.target.href==""){
                    window.location.href = "product_information.html?nid=" + event.target.title+"&id="+event.target.id;
                }
            }
        }
    })
</script>
</body>
</html>